body {
  padding-top: 3em;
}
#slideshow {  
      position: relative;  
      width: 200px;  
      height: 600px;  
      padding: 15px;  
      margin: 0 auto 2em; 
  }  

#slideshow .container {
  position:relative;
  width: 200px;
  height: 600px;
  overflow: hidden;
}

#slideshow .slider {
  position: absolute;
  left:0; top:0;
  width: 400%;
  height: 600px;
}

#slideshow figure {
  position:relative;
  display:inline-block;
  padding:0; margin:0;
}
#slideshow figure:after {
  position: absolute;
  display:block;
  content: " ";
  top:0; left:0;
  width: 100%; height: 100%;
  -moz-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
} 
@-moz-keyframes slider {
  0%, 20%, 100%	{ left: 0 }
  25%, 45%		{ left: -100% }
  50%, 70%		{ left: -200% }
  75%, 95%		{ left: -300% }
}
@keyframes slider {
  0%, 20%, 100%	{ left: 0 }
  25%, 45%		{ left: -100% }
  50%, 70%		{ left: -200% }
  75%, 95%		{ left: -300% }
}
#slideshow .slider {
  -moz-animation: slider 25s infinite;
  animation: slider 25s infinite;
}
 .play_commands {
  position: absolute;
  top: -25px; right: 25px;
  z-index: 10;
  width: 22px;
  height: 22px;
  text-indent: -9999px;
  border:0 none;
  opacity: 0;
  -moz-transition: opacity 1s, right 1s;
  transition: opacity 1s, right 1s;
}
.play { right: 55px; cursor: default; }

.pause:after,
.pause:before {
  position: absolute;
  display: block;
  content: " ";
  top:0;
  width:38%;
  height: 22px;
  background: rgb(0, 0, 0);
  background:rgb(0, 0, 0);
}
.pause:after { right:0; }
.pause:before {	left:0; }

.play {
  width: 1px; 
  height: 1px; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid rgb(0, 0, 0); 
  border-left: 20px solid rgb(0, 0, 0,); 
  opacity: 0;
}
#slideshow:hover .pause,
.play_commands:focus {
  opacity: 1;
  outline: none;
}
.sl_command:target ~ #slideshow .slider,  
  .sl_command:target ~ #slideshow figcaption,  
  .sl_command:target ~ #slideshow #timeline,
.sl_command:target ~ #slideshow .dots_commands li:first-child a:after {  
      -moz-animation-play-state: paused;  
      animation-play-state: paused;  
  }

#sl_play:target ~ #slideshow .slider,
#sl_play:target ~ #slideshow figcaption,
#sl_play:target ~ #slideshow #timeline,
#sl_play:target ~ #slideshow .dots_commands li:first-child a:after {
  -moz-animation-play-state: running;
  animation-play-state: running;
}

.sl_command:target ~ #slideshow .pause 		{ opacity:0; }
#sl_play:target ~ #slideshow:hover .pause,
#sl_play:target ~ #slideshow .pause:focus 	{ opacity:1; }
.sl_command:target ~ #slideshow .play 		{ opacity:1; right: 25px; cursor: pointer; }
#sl_play:target ~ #slideshow .play 			{ opacity:0; right: 55px; cursor: default; }
#slideshow .commands {  
  position: absolute;  
  top: 45%;  
  padding: 5px 13px;  
  border-bottom:0;  
  font-size: 1.3em;  
  color: #aaa;  
  text-decoration:none;  
  background-color: #eee;  
  background-image: -moz-linear-gradient(#fff,#ddd);  
  background-image: linear-gradient(#fff,#ddd);  
  text-shadow: 0 0 1px #aaa;  
  border-radius: 50%;  
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);  
}  
   
#slideshow .prev { left: -48px; }  
#slideshow .next { right: -48px; }  
   
#slideshow .commands { display:none; }  
#slideshow .commands1 { display: block; }
#slideshow .c_slider {
  position: absolute;
  left:0; top:0;
  width: 400%;
  height: 600px;
  background: url(img/img1.jpg) 0 0 no-repeat, url(img/img2.jpg) 640px 0 no-repeat, url(img/img3.jpg) 1280px 0 no-repeat, url(img/img4.jpg) 1920px 0 no-repeat;
  -moz-transition: background 1s;
  transition: background 1s;
}
.sl_i:target ~ #slideshow .slider									{ visibility: hidden }
#sl_i1:target ~ #slideshow .commands								{ display: none; }
#sl_i1:target ~ #slideshow .commands1								{ display: block; }
#sl_i1:target ~ #slideshow .c_slider								{ background-position: 0 0, 200px 0, 400px 0, 600px 0; }
#sl_i1:target ~ #slideshow .dots_commands li:first-child a:before	{ left:0; }

#sl_i2:target ~ #slideshow .commands								{ display: none; }
#sl_i2:target ~ #slideshow .commands2								{ display: block; }
#sl_i2:target ~ #slideshow .c_slider								{ background-position: -200px 0, 0 0, 200px 0, 400px 0; }

#sl_i3:target ~ #slideshow .commands								{ display: none; }
#sl_i3:target ~ #slideshow .commands3								{ display: block; }
#sl_i3:target ~ #slideshow .c_slider								{ background-position: -400px 0, -200px 0, 0 0, 200px 0; }

#sl_i4:target ~ #slideshow .commands								{ display: none; }
#sl_i4:target ~ #slideshow .commands4								{ display: block; }
#sl_i4:target ~ #slideshow .c_slider								{ background-position: -600px 0, -400px 0, -200px 0, 0 0; }
  


